@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #095a55;
}
.contact::before{
    content: '';
    position: absolute;
    /* top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff38e; */
}
.con-container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 999;
}
.con-container .contactInfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #095a55;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.con-container .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.con-container .contactInfo ul.info{
    position: relative;
    margin: 20px 0;
}
.con-container .contactInfo ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.con-container .contactInfo ul.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
.con-container .contactInfo ul.info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
}
.con-container .contactInfo ul.info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}
.con-container .contactInfo ul.sci{
    position: relative;
    display: flex;
}
.con-container .contactInfo ul.sci li{
    list-style: none;
    margin-right: 15px;
}
.con-container .contactInfo ul.sci li a{
    text-decoration: none;
}
.con-container .contactInfo ul.sci li a img{
    filter: invert(1);
    width: 1.5rem;
    transition: 0.5s;
}
.con-container .contactInfo ul.sci li a img:hover{
    /* filter: invert(0);
    border-radius: 20px;
    background: #ffffff; */
    width: 3rem;
}

.con-container .contactForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}
.con-container .contactForm h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
.con-container .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.con-container .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
}
.con-container .contactForm .formBox .inputBox.w50{
    width: 47%;
}
.con-container .contactForm .formBox .inputBox.w100{
    width: 100%;
}
.con-container .contactForm .formBox .inputBox input,
.con-container .contactForm .formBox .inputBox textarea{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}
.con-container .contactForm .formBox .inputBox textarea{
    height: 120px;
}
.con-container .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.con-container .contactForm .formBox .inputBox input:focus ~ span,
.con-container .contactForm .formBox .inputBox input:valid ~ span,
.con-container .contactForm .formBox .inputBox textarea:focus ~ span,
.con-container .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #095a55;
    font-weight: 500;
}
.con-container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #095a55;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}
.con-container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #0d948b;
}

/* blur ection */
.con-container #contact-blur.active{
    filter: blur(1000px);
    pointer-events: none;
    user-select: none;
}

#contact-popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.301);
    background: #fff;
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
}
#contact-popup:hover{
    border-radius: 30px;
    background: linear-gradient(to left, rgba(125, 163, 35, 0.712), rgba(26, 67, 129, 0.692), rgba(180,3,255,0.3));
}
#contact-popup h2{
    font-size: 25px;
    font-weight: 500;
    color: #002fff;
    border-bottom: 3px solid rgb(42, 96, 167);
    margin-bottom: 15px;
    transition: 0.5s;
}
#contact-popup h2:hover{
    color: #00ffaa;
    font-size: 30px;
    border-radius: 10px;
    border-color: #00ffaa;
}
#contact-popup .contact-popup .contact-back-pop{
    padding: 1px 9px;
    color: #fff;
    border: 3px solid rgb(255, 255, 255);
    background: rgb(156, 75, 75);
    border-radius: 10px;
    font-size: 1.5rem;
    transition: 0.3s;
}
#contact-popup .contact-popup .contact-back-pop:hover{
    background: rgb(150, 3, 3);
    font-size: 2.5rem;
}
.contact #contact-popup.active{
    text-align: center;
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.35s;
}


@media (max-width: 1200px){
    .con-container{
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }
    .con-container .contactInfo{
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }
    .con-container .contactForm{
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
    }
}

@media (max-width: 991px){
    .contact{
        background: #fff38e;
    }
    .contact::before{
        display: none;
    }
    .con-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .con-container .contactForm{
        width: 100%;
        height: auto;
    }
    .con-container .contactInfo{
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .con-container .contactInfo ul.sci{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact-popup{
        width: 400px;
        padding: 30px;
    }
    #contact-popup h2{
        font-size: 20px;
    }
    #contact-popup .contact-popup .contact-back-pop{
        font-size: 1.2rem;
    }
    #contact-popup h2:hover{
        color: #00ffaa;
        font-size: 22px;
        border-radius: 10px;
        border-color: #00ffaa;
    }
    #contact-popup .contact-popup .contact-back-pop:hover{
        background: rgb(150, 3, 3);
        font-size: 1.5rem;
    }

}
@media (max-width:600px){
    .con-container .contactForm{
        padding: 25px;
    }
    .con-container .contactInfo{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .con-container .contactInfo ul.sci{
        margin-top: 40px;
    }
    .con-container .contactForm .formBox .inputBox.w50{
        width: 100%;
    }
}