body{
    margin:0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#pr-team{
    font-family: poppins;
    background-color: #f8f8f8;
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1313%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1314%26quot%3b)'%3e%3c/rect%3e%3ccircle r='40.95' cx='744.29' cy='346.21' fill='url(%26quot%3b%23SvgjsLinearGradient1315%26quot%3b)'%3e%3c/circle%3e%3ccircle r='55.48' cx='1046.74' cy='123.28' fill='url(%26quot%3b%23SvgjsLinearGradient1316%26quot%3b)'%3e%3c/circle%3e%3ccircle r='52.055' cx='462.94' cy='475.9' fill='url(%26quot%3b%23SvgjsLinearGradient1317%26quot%3b)'%3e%3c/circle%3e%3ccircle r='23.375' cx='1319.59' cy='487.55' fill='url(%26quot%3b%23SvgjsLinearGradient1318%26quot%3b)'%3e%3c/circle%3e%3ccircle r='15.275' cx='103.61' cy='83.04' fill='url(%26quot%3b%23SvgjsLinearGradient1319%26quot%3b)'%3e%3c/circle%3e%3ccircle r='41.665' cx='457.72' cy='61.77' fill='url(%26quot%3b%23SvgjsLinearGradient1320%26quot%3b)'%3e%3c/circle%3e%3ccircle r='20.655' cx='438.7' cy='61.34' fill='url(%26quot%3b%23SvgjsLinearGradient1321%26quot%3b)'%3e%3c/circle%3e%3ccircle r='47.835' cx='1368.87' cy='425.38' fill='url(%26quot%3b%23SvgjsLinearGradient1322%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1313'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1314'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 1%2c 2%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='662.39' y1='346.2099999999999' x2='826.19' y2='346.2099999999999' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1315'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='935.78' y1='123.28' x2='1157.7' y2='123.28' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1316'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='358.83' y1='475.9' x2='567.05' y2='475.9' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1317'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1272.84' y1='487.55' x2='1366.34' y2='487.55' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1318'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='73.06' y1='83.04' x2='134.16' y2='83.04' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1319'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='374.39000000000004' y1='61.77' x2='541.0500000000001' y2='61.77' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1320'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='397.39' y1='61.34' x2='480.01' y2='61.34' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1321'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1273.1999999999998' y1='425.38' x2='1464.5399999999997' y2='425.38' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1322'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M365.41 287.64L411.43 287.64L411.43 318.04L365.41 318.04z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1375.24 462.34a10.54 10.54 0 1 0 21.01-1.72z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1279.24 311.73L1304.59 311.73L1304.59 337.08L1279.24 337.08z' fill='rgba(71%2c 79%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M460.41 422.42a28.46 28.46 0 1 0-5.39 56.66z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M680.19 127.28 a34.73 34.73 0 1 0 69.46 0 a34.73 34.73 0 1 0 -69.46 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1438.2 462.93L1483.68 462.93L1483.68 507.54L1438.2 507.54z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1035.92 416.59a36.11 36.11 0 1 0-72.21 1.6z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M545.54 204.65L560.04 204.65L560.04 219.15L545.54 219.15z' stroke='rgba(71%2c 79%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M901.38 322.28L955.8 322.28L955.8 376.7L901.38 376.7z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M288.02 181.93 a17.43 17.43 0 1 0 34.86 0 a17.43 17.43 0 1 0 -34.86 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M191.47 411.44L230.57 411.44L230.57 465.04L191.47 465.04z' fill='rgba(71%2c 79%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M341.85 90.32a0.7 0.7 0 1 0-0.22 1.38z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M978.27 366.99L992.99 366.99L992.99 381.71L978.27 381.71z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M964.95 11.63L969.78 11.63L969.78 16.46L964.95 16.46z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M78.56 384.51L92.75 384.51L92.75 435.91L78.56 435.91z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1322.77 132.01L1375.55 132.01L1375.55 148.88L1322.77 148.88z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M780.32 478.45L781.06 478.45L781.06 479.19L780.32 479.19z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M938.04 476.67L947.07 476.67L947.07 498.2L938.04 498.2z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1306.25 3.16 a21.77 21.77 0 1 0 43.54 0 a21.77 21.77 0 1 0 -43.54 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M29.86 456.55L33.87 456.55L33.87 460.56L29.86 460.56z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M117.67 22.26 a51.26 51.26 0 1 0 102.52 0 a51.26 51.26 0 1 0 -102.52 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M742.91 66.11a55.02 55.02 0 1 0 110-2.62z' stroke='rgba(71%2c 79%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M292.79 506.76 a15.57 15.57 0 1 0 31.14 0 a15.57 15.57 0 1 0 -31.14 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1301.12 447.84L1337.33 447.84L1337.33 484.05L1301.12 484.05z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M200.16 107.75 a2.35 2.35 0 1 0 4.7 0 a2.35 2.35 0 1 0 -4.7 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1106.62 163.55L1147.84 163.55L1147.84 204.77L1106.62 204.77z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M613.31 158.75L632.61 158.75L632.61 169.46L613.31 169.46z' fill='rgba(71%2c 79%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M1319.63 4.05L1345.42 4.05L1345.42 52.83L1319.63 52.83z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M538.43 45.74L565.83 45.74L565.83 73.14L538.43 73.14z' fill='rgba(71%2c 79%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M766.72 5.71 a28.24 28.24 0 1 0 56.48 0 a28.24 28.24 0 1 0 -56.48 0z' fill='rgba(71%2c 79%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M50.6 498.52a47.17 47.17 0 1 0 44.91 82.97z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1088.3 541.7L1104.32 541.7L1104.32 557.72L1088.3 557.72z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M581.1 376.86a18.76 18.76 0 1 0-37.51-0.76z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}
#pr-team .pr-heading{
    font-size: 1.3rem;
    color: #f2f2f2;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 20px;
}
#pr-team .pr-heading i{
    background-color: #507bfc;
    box-shadow: 2px 5px 30px rgba(80,123,252,0.4);
    color: #ffffff;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin: 0px 20px;
}
.pr-box{
    width:266px;
    height: 340px;
    background-color: #C6C9D0;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}
.pr-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pr-top-bar{
    width:50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: #507bfc;
    border-radius: 0px 0px 10px 10px;
}
.pr-nav .verify{
    color:#17b667;
}
.pr-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.pr-nav .heart{
    color: rgba(155,155,155);
}
.pr-nav .heart:before{
    content: '\f004';
    font-family: fontAwesome;
    line-height: 30px;
    z-index: 1;
    cursor: pointer;
}
.pr-nav .heart-btn:checked ~ .heart:before{
    color: #e41934;
}
.pr-nav .heart-btn{
    display: none;
}
.pr-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pr-details img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.pr-details strong{
    font-weight: 500;
    color: #141414;
    letter-spacing: 1px;
    margin-top: 10px;
}
.pr-details p{
    font-size: 0.8rem;
    color: #7a7a7a;
    margin: 5px 0px;
}
.pr-btn{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pr-btn a{
    color:#8b8b8b;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 0.9rem;
}
.pr-btn a i{
    margin-right: 10px;
}
.pr-btn a:hover{
    color: #fff;
    background-color: #507bfc;
    box-shadow: 2px 5px 15px rgba(80,123,252,0.5);
    transition: all ease 0.3s;
}
.pr-box:hover{
    box-shadow: 2px 2px 30px rgba(4,15,49,0.1);
    transform: scale(1.01);
    transition: all ease 0.1s;
}
@media(max-width:612px){
    .pr-box{
        flex-grow: 0.7;
    }
}