*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    background-repeat: no-repeat;
    /* background-color: rgb(79, 109, 109); */
}
#skillprob{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.skillprob{
    background: rgb(34,193,195);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1024' height='940' preserveAspectRatio='none' viewBox='0 0 1024 940'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1050%26quot%3b)' fill='none'%3e%3crect width='1024' height='940' x='0' y='0' fill='rgba(81%2c 46%2c 95%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c419.487C77.492%2c415.713%2c146.568%2c369.431%2c203.653%2c316.89C254.833%2c269.784%2c281.826%2c204.833%2c304.621%2c139.116C325.615%2c78.593%2c336.917%2c16.238%2c330.033%2c-47.452C322.965%2c-112.846%2c299.953%2c-173.853%2c264.785%2c-229.437C224.907%2c-292.466%2c187.817%2c-377.154%2c114.13%2c-388.692C38.986%2c-400.459%2c-11.726%2c-309.475%2c-83.377%2c-283.955C-148.986%2c-260.587%2c-233.986%2c-294.438%2c-284.656%2c-246.656C-335.308%2c-198.891%2c-327.674%2c-117.334%2c-333.626%2c-47.968C-339.267%2c17.772%2c-337.438%2c82.217%2c-318.296%2c145.361C-296.86%2c216.071%2c-272.8%2c289.149%2c-216.813%2c337.367C-157.045%2c388.842%2c-78.786%2c423.324%2c0%2c419.487' fill='%2341254c'%3e%3c/path%3e%3cpath d='M1024 1332.595C1094.476 1315.628 1147.005 1264.32 1212.605 1233.475 1291.229 1196.5059999999999 1401.209 1206.9180000000001 1447.562 1133.434 1493.4569999999999 1060.6779999999999 1466.194 961.074 1435.004 880.906 1407.305 809.711 1326.555 778.053 1284.49 714.284 1233.003 636.232 1246.273 509.703 1162.604 467.96 1081.391 427.442 978.731 475.381 901.639 523.2760000000001 833.48 565.621 824.263 661.571 764.6 715.2280000000001 691.514 780.957 558.412 777.342 519.0070000000001 867.393 480.438 955.533 532.347 1058.912 576.8910000000001 1144.188 619.913 1226.55 680.72 1304.827 766.35 1340.911 847.171 1374.968 938.732 1353.123 1024 1332.595' fill='%23613772'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1050'%3e%3crect width='1024' height='940' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 100px auto; */
    font-family: sans-serif;
}
.skillbar-h1{
    font-size: 40px;
    border-bottom: 3px solid rgb(0, 241, 169);
    color: rgb(233, 218, 10);
    /* padding-bottom: 25px; */
    cursor: pointer;
    transition: 0.4s;
}
.skillbar-h1:hover{
    border-bottom: 5px solid rgb(0, 241, 60);
    border-radius: 10px;
    font-size: 42px;
    color: rgb(43, 255, 0);
}
.progress-bar-box{
    width: 75vw;
}
.progress-bar .progress-bar-box .progress-text{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 255, 115);
    font-size: 1rem;
}
.progress-back{
    width: 100%;
    height: 18px;
    background: #5084b4;
    border-radius: 50px;
    margin-bottom: 11px;
    cursor: pointer;
    transition: 0.35s;
}
.progress-back:hover{
    background: #c7b44b;
}
.progress-inner{
    border-radius: 50px;
    background: linear-gradient(to right, #f78f07, rgb(131, 47, 170));
    height: 20px;
    transition: 0.3s;
}
.progress-inner:hover{
    background: linear-gradient(to right,rgb(14, 199, 122), #2ebd1b, rgb(248, 244, 0));
}
.progress-bar:nth-child(2) .progress-inner{
    width: 90%;
}
.progress-bar:nth-child(3) .progress-inner{
    width: 20%;
}
.progress-bar:nth-child(4) .progress-inner{
    width: 10%;
}
.progress-bar:nth-child(5) .progress-inner{
    width: 83%;
}
.progress-bar:nth-child(6) .progress-inner{
    width: 54%;
}
.progress-bar:nth-child(7) .progress-inner{
    width: 26%;
}

 @media (min-width: 940px){
    .progress-bar-box{
        width: 800px;
    }
}

@media (max-width: 730px){
    .skillbar-h1{
        font-size: 30px;
    }
}
@media (max-width: 450px){
    .skillbar-h1{
        font-size: 20px;
    }
}